/* Add Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Start Common Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1140px;
    width: 96%;
    padding: 20px 2%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    max-width: 550px;
    width: 50%;
    box-sizing: border-box;
    height: 715px;
}
.child:first-child{
    margin-right: 20px;
}
.child:last-child{
    margin-left: 20px;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 40px 20;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    padding: 20px 0;
}
input{
    border: none;
    outline: none;
    background-color: #DCDCDC;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-weight: bold;
}
p{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
}
#save-btn{
    display: block;
}
#percentage-input{
    max-width: 100px;
    width: 100%;  
    text-align: center;
}
/* End Common Style */


/* Start Header Part */

h1{
    color: #31A5AC;
    text-align: center;
    padding: 30px 0;
}

/* End Header Part */



/* Start Main Part */
.child img{
    height: 715px;
}
#calculate-btn, #save-btn{
    display: inline-block;
    background-color: #59A5FF;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px 35px;
    margin: 10px 0;
}
.percent{
    padding-right: 10px;
}
/* End Main Part */